# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Build and Distribution
build/
dist/
*.spec

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
config.json
login_config.json
requirements_build.txt
